.Search {
  position: relative;
  width: 100%;
height:100%;
  padding-top: 100px;
  background-color: #7918f8;
  text-align: center;
  &__Tab{
    align-items: center;
    input{
      background: transparent;
    }
  }
}

.btn-14 {
  background: rgb(31, 20, 4);
  border: none;
  z-index: 1;
}
.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #212219;
  background-image: linear-gradient(315deg, #7918f8 0%, #7918f8 74%);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255);
  transition: all 0.3s ease;
}
.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top: 2px;
}